
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{
    background:#050816;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.container{
    width:100%;
    max-width:650px;
}

.card{
    background:linear-gradient(180deg,#12192b,#0d1322);
    border-radius:35px;
    padding:40px;
    box-shadow:0 0 40px rgba(0,0,0,.4);
}

.logo{
    color:#0b6cff;
    font-size:52px;
    font-weight:800;
    margin-bottom:20px;
}

h1{
    font-size:52px;
    line-height:1.1;
    margin-bottom:25px;
}

.benefits{
    font-size:22px;
    line-height:1.8;
    margin-bottom:35px;
    color:#f2f2f2;
}

input,select{
    width:100%;
    background:#1e2637;
    border:none;
    border-radius:22px;
    padding:22px;
    color:white;
    font-size:20px;
    margin-bottom:18px;
}

.label{
    margin:15px 0;
    font-size:20px;
    font-weight:600;
}

button{
    width:100%;
    padding:22px;
    border:none;
    border-radius:24px;
    font-size:24px;
    font-weight:700;
    color:white;
    cursor:pointer;
    margin-top:20px;
    background:linear-gradient(90deg,#0f66ff,#8d42ff);
}

.success-screen{
    position:fixed;
    inset:0;
    background:#050816;
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;
    padding:20px;
}

.success-box{
    width:100%;
    max-width:700px;
    background:linear-gradient(180deg,#10192d,#0a1222);
    border-radius:35px;
    padding:50px;
    text-align:center;
}

.success-icon{
    font-size:70px;
    margin-bottom:20px;
}

.success-box h2{
    font-size:52px;
    margin-bottom:15px;
}

.success-box p{
    font-size:24px;
    opacity:.9;
    margin-bottom:30px;
}

.track-title{
    font-size:26px;
    margin-bottom:20px;
}

.track-code{
    font-size:90px;
    font-weight:800;
    color:#46ff79;
    margin-bottom:35px;
}

.manager-text{
    font-size:22px;
    line-height:1.6;
    margin-bottom:30px;
}

.manager-btn{
    display:block;
    width:100%;
    padding:24px;
    border-radius:24px;
    text-decoration:none;
    color:white;
    font-size:24px;
    font-weight:700;
    background:linear-gradient(90deg,#0ea5ff,#9448ff);
}

@media(max-width:700px){

    .card{
        padding:25px;
    }

    .logo{
        font-size:42px;
    }

    h1{
        font-size:40px;
    }

    .benefits{
        font-size:18px;
    }

    .success-box{
        padding:30px;
    }

    .success-box h2{
        font-size:36px;
    }

    .track-code{
        font-size:65px;
    }

}
