<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ozon Анкета</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <div class="card" id="formCard">

        <div class="logo">OZON 📦</div>

        <h1>Анкета менеджера<br>маркетплейсов</h1>

        <form id="applicationForm">

            <input type="text" name="fio" placeholder="👤 ФИО полностью" required>

            <input type="date" name="birth" required>

            <input type="tel" name="phone" placeholder="📱 Телефон" required>

            <input type="text" name="telegram" placeholder="✈ Telegram (username)" required>

            <label>📱 Каким смартфоном пользуетесь?</label>

<div class="device-selector">

    <label class="device-card">
        <input type="radio" name="device" value="iPhone" checked>
        🍏 iPhone
    </label>

    <label class="device-card">
        <input type="radio" name="device" value="Android">
        🤖 Android
    </label>

</div>
            <div class="label">💼 Есть ли у вас опыт?</div>

            <select name="experience">
                <option>Нет опыта</option>
                <option>Есть опыт</option>
            </select>

            <div class="label">⏰ Сколько времени готовы уделять работе?</div>

            <select name="time">
                <option>2-4 часа</option>
                <option>4-6 часов</option>
                <option selected>6-8 часов</option>
                <option>8+ часов</option>
            </select>

            <button type="submit">🚀 Отправить заявку</button>

        </form>

    </div>

</div>

<div class="success-screen" id="successScreen">

    <div class="success-box">

        <div class="success-icon">✅</div>

        <h2>🎉 Заявка отправлена!</h2>

        <p>Спасибо! Мы получили вашу заявку.</p>

        <div class="track-title">Ваш HR-код:</div>

        <div class="track-code" id="trackCode">6019</div>

        <div class="manager-text">
            Наш менеджер свяжется с вами в Telegram в ближайшее время
        </div>

        <a href="https://t.me/sdasdasd33332231" class="manager-btn">
            💬 Написать менеджеру
        </a>

    </div>

</div>

<script src="/static/app.js"></script>

</body>
</html>
